<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<integer>1</integer>
	<key>dApps</key>
	<array>
		<dict>
			<key>name</key>
			<string>Transactions</string>
			<key>url</key>
			<string>multi://TransactionTableViewController</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CryptoKitties</string>
			<key>url</key>
			<string>https://www.cryptokitties.co</string>
		</dict>
	</array>
</dict>
</plist>
